.about-title
    font-size: $font-xl
    margin: 0 0 30px
    color: $almost-black
    font-weight: 900
    

.about-text
    margin: 0 0 50px
    color: lighten($almost-black, 10%)
    letter-spacing: -0.05rem


