.container
  padding-left: 15px
  padding-right: 15px
  margin-left: auto
  margin-right: auto
  display: block
  font-family: $font-family-robot
  
  
  
  

.main-container
  padding: 40px 0 
  background-color: $almost-black
  color: $white
  justify-items: center
  
  
