/* Error: Undefined variable.
 *   ,
 * 7 |   font-family: $font-family-robot
 *   |                ^^^^^^^^^^^^^^^^^^
 *   '
 *   sass/layout/containers.sass 7:16  @import
 *   sass/layout/layout-dir.sass 1:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 7 \2502    font-family: $font-family-robot\a   \2502                 ^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass/layout/containers.sass 7:16  @import\a   sass/layout/layout-dir.sass 1:9   root stylesheet";
}
