/* Error: Undefined variable.
 *   ,
 * 2 |   font-family: $font-family-robot
 *   |                ^^^^^^^^^^^^^^^^^^
 *   '
 *   sass/base/base.sass 2:16     @import
 *   sass/base/base-dir.sass 1:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502    font-family: $font-family-robot\a   \2502                 ^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass/base/base.sass 2:16     @import\a   sass/base/base-dir.sass 1:9  root stylesheet";
}
