.btn
    display: inline-block
    font-weight: $font-weight-normal
    line-height: $base-line-height
    text-align: center
    font-size: $font-base
    vertical-align: middle
    transition: $btn-transtion
    border-radius: $border-radius
    font-color: $black
  
    +btn-sizing($btn-padding-y, $btn-padding-x, $font-base, $border-radius)
   
    
  
button.buy-btn-lg
    +btn-sizing(10px, 25px, $font-base, 10px)
    +btn-variant($btn-main-color, lighten($btn-dark-bg, 40%), $btn-border-dark)
    
  
.btn.btn-primary.buy-btn-md
    +btn-sizing(12px, 40px, $font-large, 30px)
    width: 100%
    +btn-variant($btn-main-color, $btn-primary, $btn-border-primary)
    


.btn.btn-third
    +btn-sizing(12px, 40px, $font-large, 30px)
    +btn-variant($btn-main-color, $btn-third-bg, $btn-border-third) 
    width: 30%

#exampleInputEmail1
    width: 250px
